services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - frontend
      - web
    networks:
      - app-network
  db:
    image: mongo:latest
    container_name: mongodb_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    command: mongod --quiet
    networks:
      - app-network
  redis:
    image: redis:latest
    container_name: redis_cache
    ports:
      - "6379:6379"
    networks:
      - app-network
  web:
    build:
      context: ./codraw
      dockerfile: Dockerfile
    container_name: django_web
    command: daphne -b 0.0.0.0 -p 8080 codraw.asgi:application
    expose:
      - "8080"
    volumes:
      - ./codraw:/app
      - /usr/local/lib/python3.12/site-packages
      - ./credentials.json:/app/credentials.json
    depends_on:
      - db
    environment:
      - PYTHONPATH=/app
      - GOOGLE_APPLICATION_CREDENTIALS=/app/credentials.json
    env_file:
      - .env.prod
    networks:
      - app-network

  frontend:
    build:
      context: ./codraw/frontend
      dockerfile: Dockerfile
      args:
        - VUE_APP_BASE_URL=https://codrawapp.com/api
        - VUE_APP_WS_URL=wss://codrawapp.com/ws/
    container_name: vue_frontend
    expose:
      - "8000"
    volumes:
      - /app/node_modules
    networks:
      - app-network
  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    networks:
      - app-network
  graphana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    environment:
      - GF_SERVER_ROOT_URL=https://codrawapp.com/grafana/
      - GF_SERVER_SERVE_FROM_SUB_PATH=false
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - app-network

volumes:
  mongo_data:
  grafana_data:
  prometheus_data:

networks:
  app-network:
    driver: bridge
