services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - frontend
      - web
    networks:
      - app-network
  db:
    image: mongo:latest
    container_name: mongodb_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    command: mongod --quiet
    networks:
      - app-network
  redis:
    image: redis:latest
    container_name: redis_cache
    ports:
      - "6379:6379"
    networks:
      - app-network
  web:
    build:
      context: ./codraw
      dockerfile: Dockerfile
    container_name: django_web
    command: daphne -b 0.0.0.0 -p 8080 codraw.asgi:application
    expose:
      - "8080"
    volumes:
      - ./codraw:/app
      - /usr/local/lib/python3.12/site-packages
      - ./credentials.json:/app/credentials.json
    depends_on:
      - db
    environment:
      - PYTHONPATH=/app
      - GOOGLE_APPLICATION_CREDENTIALS=/app/credentials.json
      - GOOGLE_BUCKET=codrawapp-preview-access
    env_file:
      - .env.prod
    networks:
      - app-network

  frontend:
    build:
      context: ./codraw/frontend
      dockerfile: Dockerfile
      args:
        - VUE_APP_BASE_URL=https://codrawapp.com/api
        - VUE_APP_WS_URL=wss://codrawapp.com/ws/socket
        - VUE_APP_GTAG=G-QW19P198KB
        - VUE_APP_GOOGLE_ID=373387543374-fsreaovr782e5faifv2f7128jq6ch4n3
    container_name: vue_frontend
    expose:
      - "80"
    networks:
      - app-network
  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    networks:
      - app-network
volumes:
  mongo_data:
  prometheus_data:

networks:
  app-network:
    driver: bridge
